@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lightmode{
    --color:black;
    --background-color: white;
}
.darkmode{
    --color:white;
    --background-color: black;
}
